<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container">

    <a class="navbar-brand" routerLink="/">Assessment</a>

    <div class="navbar-nav">

      <a class="nav-link" routerLink="/">Public</a>

      <a class="nav-link" routerLink="/login">Login</a>

      <a class="nav-link" routerLink="/secure">Secure</a>

      <a class="nav-link" routerLink="/currency">Currency</a>

      <a class="nav-link text-warning"
         (click)="logout()">

        Logout

      </a>

    </div>

  </div>

</nav>
